.main-div-project-content{
    width : 100%;
    padding-bottom: 30px;
    background-color: #f3f3f3;
  
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}

.inner-project-div{
    display : flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-line {
    width: 1px;
    height : auto;
    background-color: gray;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.left-project-div{
    width : 500px;
    display : flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.right-project-div{
    width : 700px;
    display : flex;
    justify-content:start ;
    align-items: start;
    flex-direction: column;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light;
    padding-right: 30px;
    padding-left: 30px;
}

.delete-project{
    display : flex;
    justify-content:center ;
    align-items: center;
}

.left-project-div .projectName{
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light;
    font-size: 20px;
}

.right-project-div .data{
    font-size: 17px;
}

.right-project-div .tools{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}
